
.main {
    width: 1024;
}

.panel {
    background-color: blue;
}

.chat {
    background-color: purple;
    height: 384;
}

.controls {
    background-color: green;
    width: 384;
    height: 240; 
}

.logs {
    background-color: yellow;    
    width: 384; 
    height: 240; 
}

.videofeed {
    background-color: pink;    
    width: 640;
    height: 480; 
}

.entireApp {
    width: 1024px; 
    height: 90%; 
    margin: 0 auto; 
}

.hidden {
    display: none;
    visibility: hidden;
 }

.visible {
    display: block; 
    visibility: visible;
}

#authScreen {
    background: white; 
    opacity:    0.90; 
    width: 100%; 
    height: 100%; 
    z-index:  10; 
    top: 0; 
    left: 0; 
    position: fixed; 
}

#authInput {
    width: 400px;
    height: 250px;
    background-color: white;
    text-align: center;
            
    position: absolute;
    top:-100;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index:  20; 
    border-style: solid; 
    border-color: black; 
}

.authError {
    width: 100%;
    color: red;     
    position: absolute;
    text-align: center;
}


.mainWindow {
    width: 1024px; 
    height: 480px;
    border-top-style: solid;
    border-top-color: black;
    border-right-style: solid;
    border-right-color: black;
    border-left-style: solid;
    border-left-color: black;
}

.chatWindow {
    background: white;    
    width: 1024px; 
    height: 300px;
    border-top-style: solid;
    border-top-color: black;
    border-right-style: dashed;
    border-right-color: black;
    border-left-style: dashed;
    border-left-color: black;
}

.chatText {
    width: 1024px; 
    height: 275px;
    background: white; 
    margin: 0 auto;
    padding-left: 5px;
    font-family: Monospace;
    overflow-x: hidden; 
    overflow-y: scroll; 
}

.chatInput {
    width: 1024px; 
    height: 25px; 
    background: white;
    border-top-style: dashed;
    border-top-color: black;
    border-bottom-style: dashed;
    border-bottom-color: black;
    display: flex;
    align-items: center; 
}

.textInput {
    width: 100%;
    background: white;
    overflow-y: hidden; 
    height: 100%;
    width: 100%;
    border: none;
    outline: 0;
    padding-top: 2px; 
    padding-left: 10px; 
    padding-right: 10px;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
    box-shadow: none;
    -webkit-appearance: none;
    position: relative;
}

.leftPanel {
    float: left; 
    width: 384px; 
    height: 480px; 
    background: white;
    display: table;
}

.leftPanel > div{
    display: table-row;
    height: 0;
}

.leftPanel > div.fill{
    height: auto;
}

.rightPanel {
    width: 100%; 
    height: 100%; 
    background: grey; 
}

.actionLog {
   overflow:hidden;
   width: 379px; 
   padding-left: 5px;
   border-top-color: black; 
   border-top-style: solid;
   font-family: Monospace;
   display: inline-block; 
}

.absLeftMiddle {
    display:inline-block;
    float:left;
    width: 33%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 200%;
}

.nobutton:hover {
    background-color: grey;    
}

.button {
    cursor: pointer;
    cursor: hand;
    vertical-align: middle;;
    padding-top: 5px;
    padding-bottom: 5px;
}

.absLeft {
    display:inline-block;
    float:left;
    width: 33%;
    text-align: center;
    vertical-align: middle;;
    font-size: 200%;
}

.button:hover {
    background-color: grey;    
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.power {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
    width: 100%;
    height: 100px;
}

